<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSCameraUsageDescription</key>
  <string>Atlas ERP usa la camara para videollamadas.</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>Atlas ERP usa el microfono para llamadas y videollamadas.</string>
</dict>
</plist>
